@using  Beehouse.Essentials.Web.Components.Common
@using System.Linq.Expressions;

<div class="form-group">
    <label class="col-form-label">@Label</label>
    <InputText Class="form-control" bind-Value="@Value"></InputText>
</div>

@functions{
    [Parameter] string Label { get; set; }
    [Parameter] string Value { get; set; }
    [Parameter] EventCallback<string> ValueChanged { get; set; }
    [Parameter] RazorInputType Type { get; set; }

}