@using Beehouse.Essentials.Web.Components.Common;
@using Beehouse.Essentials.Web.Components.Icon;
@inject Microsoft.AspNetCore.Components.Services.IUriHelper uriHelper

<button class="btn btn-@Style.ToClassString() mr-2" onclick="@OnClick">
    @if (!string.IsNullOrWhiteSpace(Icon))
    {
        <Icon Name="@Icon"></Icon>
    }
    @ChildContent
</button>

@functions{
    [Parameter] RenderFragment ChildContent { get; set; }
    [Parameter] ElementStyle Style { get; set; }
    [Parameter] string Icon { get; set; }
    [Parameter] Action OnClick { get; set; }
    protected override Task OnInitAsync()
    {
        //if (OnClick == null)
        //    OnClick = async () => await OnClickAsync();

        return base.OnInitAsync();
    }
}