@using Beehouse.Essentials.Web.Components.Common;
@using Beehouse.Essentials.Web.Components.Icon;

    <div class="form-group">
        <button class="btn btn-@Style.ToClassString()" type="submit">
            @if (!string.IsNullOrWhiteSpace(Icon))
            {
                <Icon Name="@Icon"></Icon>
            }
            @ChildContent
        </button>
    </div>


@functions{
    [Parameter] RenderFragment ChildContent { get; set; }
    [Parameter] ElementStyle Style { get; set; }
    [Parameter] string Icon { get; set; }
}