@using Beehouse.Essentials.Web.Views;
@inject Microsoft.AspNetCore.Components.Services.IUriHelper uriHelper
@typeparam TViewModel

    <div class="col-12">
        @if (!string.IsNullOrWhiteSpace(Title))
        {

            <h4>@Title</h4>
            <hr />
        }
        @if (Menu != null)
        {
            <div class="mb-2">
                @Menu
            </div>
        }
        @if (ListResult == null)
        {
            <RazorLoading />
        }
        else
        {
            if (ListResult.Items?.Count > 0)
            {

                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            @Header
                            @if (ActionsTemplate != null)
                            {
                                <th width="150px" class="text-right">Ações</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ListResult.Items)
                        {
                            <tr>
                                @RowTemplate(item)
                                @if (ActionsTemplate != null)
                                {
                                    <td class="text-right">
                                        @ActionsTemplate(item)
                                    </td>

                                }
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            @((MarkupString)ListResult.GetPaginationHtml(uriHelper))
                        </tr>
                    </tfoot>

                </table>
            }
            else
            {
                <p class="text-muted">há 0 itens nesta lista</p>
            }
        }
    </div>





@functions
{
    [Parameter] string Title { get; set; }

    [Parameter] RenderFragment Menu { get; set; }

    [Parameter] RenderFragment Header { get; set; }

    [Parameter] RazorList<TViewModel> ListResult { get; set; }

    [Parameter] RenderFragment<TViewModel> RowTemplate { get; set; }

    [Parameter] RenderFragment<TViewModel> ActionsTemplate { get; set; }

    [Parameter] Action<RazorList<TViewModel>> ListResultChanged { get; set; }

}